@{
	ViewData["Title"] = "Detail Products";	
	var size = ViewBag.Size as List<ShoeShop.Models.ProductSizeModel>;
}
<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a href="/">Trang chủ</a></span> / <span><a href="/Product">Sản phẩm</a></span> / <span>@Model.Name</span></p>
			</div>
		</div>
	</div>
</div>


<div class="colorlib-product">
	<div class="container">
		<div class="row row-pb-lg product-detail-wrap">
			<div class="col-sm-8">
				<div >
					<div class="item">
						<div class="product-entry border">
							<a href="#" class="prod-img">								
								<img src="@Url.Content("~/upload/product/" + @Model.ImageUrl)" class="img-fluid" alt="Free html5 bootstrap 4 template">
							</a>
						</div>
					</div>
					
				</div>
			</div>
			<div class="col-sm-4">
				<div class="product-desc">
					<h3>@Model.Name</h3>
					<form asp-controller="Cart" asp-action="AddToCart" asp-route-Id="@Model.Id" asp-route-Name="@Model.Name" asp-route-Price="@Model.Price" asp-route-imageUrl="@Model.ImageUrl">
						<input type="hidden" name="productId" id="productId" value="1">
						<p class="price">
							<span>@Model.Price.ToString("#,0") đ</span>
							<span class="rate">
								<i class="icon-star-full"></i>
								<i class="icon-star-full"></i>
								<i class="icon-star-full"></i>
								<i class="icon-star-full"></i>
								<i class="icon-star-half"></i>							
							</span>
						</p>
						<p>@Model.Description</p>
						<div class="size-wrap">			
						</div>
						<div class="input-group mb-4">
							<span class="input-group-btn">
								<button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
									<i class="icon-minus2"></i>
								</button>
							</span>
							<input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
							<span class="input-group-btn ml-1">
								<button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
									<i class="icon-plus2"></i>
								</button>
							</span>
						</div>
						<div class="row">
							<div class="col-sm-12 text-center">
								<p class="addtocart">	
									@if (Model.Quantity > 0)
									{
										<button type="submit" class="btn btn-primary btn-addtocart icon-shopping-cart"> <span style="font-family:  'Montserrat', Arial, sans-serif;">Thêm vào giỏ hàng</span></button>
									} 
									else
									{
										<button type="button" class="btn btn-danger btn-addtocart icon-shopping-cart"> <span style="font-family:  'Montserrat', Arial, sans-serif;">Hết hàng</span></button>
									}
								</p>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-md-12 pills">
						<div class="bd-example bd-example-tabs">
							<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

								<li class="nav-item">
									<a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Mô tả sản phẩm</a>
								</li>
							</ul>

							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane border fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
									@Model.Content
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>