@model IEnumerable<ProductModel>
@{
	ViewData["Title"] = "Product";
}

<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a href="/">Trang chủ</a></span> / <span>Sản phẩm</span></p>
			</div>
		</div>
	</div>
</div>

<div class="breadcrumbs-two">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="breadcrumbs-img" style="background-image: url(assets/images/cover-img-1.jpg);"></div>
			</div>
		</div>
	</div>
</div>

<div class="colorlib-product">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-xl-3">
				<div class="row">
					<div class="col-sm-12">
						<div class="side border mb-1">
							<h3>Thương hiệu</h3>
							<ul>
								<li><a asp-action="Index" asp-controller="Product">Tất cả</a></li>
								<vc:categories></vc:categories>
							</ul>
						</div>
					</div>										
				</div>
			</div>
			<div class="col-lg-9 col-xl-9">
				<div class="row row-pb-md">
					@foreach (var product in Model)
					{
						<div class="col-lg-4 mb-4 text-center">
							<div class="product-entry border">
								<a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id" class="prod-img">
									<img src="@Url.Content("~/upload/product/" + @product.ImageUrl)" class="img-fluid" alt="Free html5 bootstrap 4 template">
								</a>
								<div class="desc">
									<h2><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a></h2>
									<span class="price">@product.Price.ToString("#,0") đ</span>
								</div>
							</div>
						</div>
					}
				</div>				
			</div>
		</div>
	</div>
</div>