@model ShoeShop.Models.ProductModel
@{
    ViewData["Title"] = "Edit Product Admin";
    var ProductSize = ViewBag.productsize as List<ShoeShop.Models.ProductSizeModel>;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> SỬA SẢN PHẨM</h4>
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Tên Sản phẩm</label>
                            <input type="text" class="form-control" id="basic-default-fullname" placeholder="Nhập tên danh mục" asp-for="Name" value="@Model.Name" />
                        </div>
                        <div>
                            <label for="exampleFormControlTextarea1" class="form-label">Mô tả</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" asp-for="Description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlSelect1" class="form-label">Thương hiệu</label>
                            <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example" asp-for="CategoryId" asp-items="ViewBag.categories">                                
                            </select>
                        </div>
                        <div>
                            <label for="exampleFormControlTextarea1" class="form-label">Nội dung</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" asp-for="Content"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Giá</label>
                            <input type="text" class="form-control" id="basic-default-fullname" placeholder="Nhập giá" asp-for="Price" value="@Model.Price" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Số lượng</label>
                            <input type="text" class="form-control" id="basic-default-fullname" placeholder="Nhập Số lượng" asp-for="Quantity" value="@Model.Quantity" />
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Hình ảnh</label>
                            <input class="form-control" type="file" id="formFile" asp-for="Image" />
                            @if (!string.IsNullOrEmpty(@Model.ImageUrl))
                            {
                                <div style="position:relative; margin: 10px">
                                    <img src="@Url.Content("~/upload/product/" + @Model.ImageUrl)" width="200" height="200" style="border: solid 5px #5f61e6; border-radius: 15px" />
                                </div>
                            }
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Trạng thái</label>
                            <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example" asp-for="Status">
                                <option value="0">Tắt</option>
                                <option value="1">Bật</option>
                            </select>
                        </div>                        
                        <button type="submit" class="btn btn-primary">Lưu</button>
                        <a href="@Url.Action("Index", "Product")" class="btn btn-outline-secondary">Trở về</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
