@model IEnumerable<ShoeShop.Models.CartModel>
@{
    ViewData["Title"] = "Cart";
}

<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a href="/">Trang chủ</a></span> / <span>Giỏ hàng</span></p>
			</div>
		</div>
	</div>
</div>


<div class="colorlib-product">
	<div class="container">
		<div class="row row-pb-lg">
			<div class="col-md-10 offset-md-1">
				<div class="process-wrap">
					<div class="process text-center">
						<p>
							<span style="background-color: #88c8bc; border-radius: 50%; color: white">01</span>
						</p>
						<h3>Giỏ hàng</h3>
					</div>
					<div class="process text-center">
						<p><span>02</span></p>
						<h3>Thanh toán</h3>
					</div>
					<div class="process text-center">
						<p><span>03</span></p>
						<h3>Cảm ơn</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-pb-lg">
			<div class="col-md-12">
				<div class="product-name d-flex">
					<div class="one-forth text-left px-4">
						<span>Sản phẩm</span>
					</div>					
					<div class="one-eight text-center">
						<span>Giá</span>
					</div>
					<div class="one-eight text-center">
						<span>Số lượng</span>
					</div>
					<div class="one-eight text-center">
						<span>Thành tiền</span>
					</div>
					<div class="one-eight text-center px-4">
						<span></span>
					</div>
				</div>
				@foreach (var item in Model)
				{
				<div class="product-cart d-flex">
					<div class="one-forth">
							<div class="product-img" style="background-image: url('/upload/product/@item.ImageUrl'); border-radius: 15px; width: 150px;"></div>
						<div class="display-tc" style="margin-left: 10px">
								<h3>  @item.Name </h3>
						</div>
					</div>					
					<div class="one-eight text-center">
						<div class="display-tc">
								<span class="price">@item.Price.ToString("#,0") đ</span>
						</div>
					</div>					
					<div class="one-eight text-center">
						<div class="display-tc">
							<form asp-action="UpdateQuantity" method="post"> 
								<input type="hidden" name="productId" value="@item.Id" />
								<button type="submit" class="btn btn-primary btn-sm" name="action" value="decrease">-</button>
								<input type="text" id="quantity" name="quantity" class="form-control input-number text-center" value="@item.Quantity" min="1" max="10">
								<button type="submit" class="btn btn-primary btn-sm" name="action" value="increase">+</button>
							</form>
						</div>
					</div>
					<div class="one-eight text-center">
						<div class="display-tc">
							<span class="price">@($"{(item.Price * item.Quantity):N0} đ")</span>
						</div>
					</div>
					<div class="one-eight text-center">
						<div class="display-tc">
								<form asp-action="RemoveCart" method="post">
									<input type="hidden" name="id" value="@item.Id" />
									<button type="submit" class="closed" style="border: none"></button>
								</form>
						</div>
					</div>
				</div>	
				}
			</div>
		</div>
		<div class="row row-pb-lg">
			<div class="col-md-12">
				<div class="total-wrap">
					<div class="row">
						<div class="col-sm-8">							
						</div>
						<div class="col-sm-4">
							<div class="row">
								<div class="col-sm-12 text-center">
									<div class="total">
										<div class="sub">
											<p><span>Tạm tính:</span> <span>@ViewData["SubTotal"] đ</span></p>
										</div>
										<div class="grand-total">
											<p><span><strong>Tổng tiền:</strong></span> <span>@ViewData["Total"] đ</span></p>
										</div>
									</div>
								</div>								
								<div class="col-sm-12 mt-3">
									@if (Convert.ToInt32(ViewData["CountItemCart"]) > 0)
									{
										<a asp-action="Index" asp-controller="Checkout" class="btn btn-success w-100">Đi đến thanh toán</a>
									}
									else
									{
										<a asp-action="Index" asp-controller="Product" class="btn btn-warning w-100">Tiếp tục mua sắm</a>
									}
									
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>				
	</div>
</div>									