@model IEnumerable<ShoeShop.Models.ProductModel>
@{
	ViewData["Title"] = "Home Page";
	var categories = ViewBag.categories as List<ShoeShop.Models.CategoryModel>;
	var products = ViewBag.products as List<ShoeShop.Models.ProductModel>;
}

<aside id="colorlib-hero">
	<div class="flexslider">
		<ul class="slides">
			<li style="background-image: url(assets/images/img_bg_1.jpg);">
				<div class="overlay"></div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6 offset-sm-3 text-center slider-text">
							<div class="slider-text-inner">
								<div class="desc">
									<h1 class="head-1">Shop Shoe</h1>
									<p><a href="/Product" class="btn btn-primary">Xem chi tiết</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li style="background-image: url(assets/images/img_bg_2.jpg);">
				<div class="overlay"></div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6 offset-sm-3 text-center slider-text">
							<div class="slider-text-inner">								
							</div>
						</div>
					</div>
				</div>
			</li>
			<li style="background-image: url(assets/images/img_bg_3.jpg);">
				<div class="overlay"></div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6 offset-sm-3 text-center slider-text">
							<div class="slider-text-inner">
								<div class="desc">									
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</aside>
<div class="colorlib-product">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 text-center">
				<div class="featured">
					<a href="#" class="featured-img" style="background-image: url(assets/images/men.jpg);"></a>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="featured">
					<a href="#" class="featured-img" style="background-image: url(assets/images/women.jpg);"></a>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="featured">
					<a href="#" class="featured-img" style="background-image: url(assets/images/men.jpg);"></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="colorlib-product">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
				<h2>Sản phẩm tiêu biểu</h2>
			</div>
		</div>
		<div class="row row-pb-md">
			@foreach (var product in products.Take(6))
			{
				<div class="col-lg-4 mb-4 text-center">
					<div class="product-entry border">
						<a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id" class="prod-img">
							<img src="@Url.Content("~/upload/product/" + @product.ImageUrl)" class="img-fluid" alt="Free html5 bootstrap 4 template">
						</a>
						<div class="desc">
							<h2><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a></h2>
							<span class="price">@product.Price.ToString("#,0") đ</span>
						</div>
					</div>
				</div>
			}
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<p><a asp-controller="Product" asp-action="Index" class="btn btn-primary btn-lg">Xem tất cả</a></p>
			</div>
		</div>
	</div>
</div>

<div class="colorlib-partner">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
				<h2>Thương hiệu đối tác</h2>
			</div>
		</div>
		<div class="row">
			<div class="col partner-col text-center">
				<img src="~/assets/images/brand-1.jpg" class="img-fluid" alt="Nike">
			</div>
			<div class="col partner-col text-center">
				<img src="~/assets/images/brand-2.jpg" class="img-fluid" alt="Adidas">
			</div>
			<div class="col partner-col text-center">
				<img src="~/assets/images/brand-5.jpg" class="img-fluid" alt="Puma">
			</div>
		</div>
	</div>
</div>